.footer-nav {
	background: var(--black);
	bottom: 0;
	inline-size: 100%;
	padding-block-end: 13px;
	padding-block-start: 12px;
	position: sticky;
}

.footer-nav-content {
	display: flex;
	justify-content: space-evenly;
}
