.movies-calatog {
	display: flex;
	gap: 8px;
	overflow: auto;
	padding-inline-end: 16px;
	padding-inline-start: 16px;
}

.movies-calatog {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.movie-poster {
	block-size: 144px;
	border-radius: 2px;
	flex-shrink: 0;
	inline-size: 96px;
	margin: 0;
	overflow: hidden;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}

.movie-poster img {
	block-size: 100%;
	inline-size: auto;
	vertical-align: middle;
}

.projects .movie-poster img {
	block-size: auto;
	inline-size: 100%;
}
