.nav-links {
	display: flex;
	inline-size: 235px;
	justify-content: space-between;
	list-style: none;
	margin-block-start: 24px;
	margin-inline-end: auto;
	margin-inline-start: auto;
	padding: 0;
}

.nav-links a {
	text-decoration: none;
	color: var(--white);
}
