.movies-calatog {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.category-title {
	font: var(--subtitle1);
	margin-block-end: 14px;
	margin-block-start: 8px;
	padding-inline-start: 16px;
}

.movie-option {
	background: var(--black10);
	color: var(--white);
	display: flex;
	text-decoration: none;
}

.movie-description {
	align-items: center;
	display: flex;
	flex: 1;
	justify-content: space-between;
	padding-inline-end: 10px;
	padding-inline-start: 10px;
}

.movie-poster {
	block-size: 60px;
	inline-size: 115px;
	margin: 0;
	overflow: hidden;
}

.movie-poster img {
	inline-size: 100%;
	vertical-align: middle;
}
