.header {
	background: var(--black);
	padding-block-end: 8px;
	position: sticky;
	top: 0;
	z-index: 1;
}

.search {
	inline-size: 100%;
	position: relative;
}

.search i {
	left: 16px;
	position: absolute;
	top: 8px;
}

.search input {
	background: var(--grey10);
	border: none;
	color: var(--white);
	inline-size: 100%;
	outline: none;
	padding-block-end: 8px;
	padding-block-start: 8px;
	padding-inline-end: 16px;
	padding-inline-start: 38px;
}

.search input::placeholder {
	color: var(--white);
	opacity: 1;
}

.search input:-ms-input-placeholder {
	color: var(--white);
}

.search input::-ms-input-placeholder {
	color: var(--white);
}
